
<h1>Bievenue !</h1>

<h1>
    Bievenue : {{ username }}
</h1>
<br>
<p>Veuillez confirmer votre adresse mail : <code>{{ mail }}</code></p>

<p>
    <a href="{{ url('validation',{'token':  token } ) }}">Cliquez ici pour activer votre compte</a>

</p>
