{% extends 'base.html.twig' %}

{% block title %}Pict'ur{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Welcome {{ app.user.username }}</h1>
    {% else %}
        <h1>Welcome to you !</h1>
    {% endif %}
    <div id="columns">
        {% for pict in picture %}

                <figure>
                    <a href="{{ path('picture_show', {'id': pict.id}) }}">  <img src="{{pict.image}}"></a>
                    <figcaption>{{ pict.title }}</figcaption>
                </figure>

        {% endfor %}
    </div>
{% endblock %}
