<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <style>
            main  {
              width: 80%;
              margin: auto
            }
          </style>
        {% endblock %}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    </head>
    <body>

      <body>
        
        {% include "navbar.html.twig" %}
        
        <main >
          {% block body %}{% endblock %}
        </main>
        
        {% block javascripts %}
          <script>
            
          </script>
        {% endblock %}

      <style media="screen">
      /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #4CAF50;
    color: black;
  }

  .topnav a {
  border-right: 1px solid #bbb;
}

.topnav a:last-child {
  border-right: none;
}
      </style>
      <div class="topnav">
   <a href="{{ path('home') }}">Home</a>
   <a href="#user">User</a>
   <a href="{{path('picture')}}">Pictures</a>
   <a href="#tags">Tags</a>
   <a href="#categories">Categories</a>
   <a href="#about" style="float:right">About</a>
 </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
