<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <style>
            main  {
              width: 80%;
              margin: auto
            }
            .dropdown-trigger {
              display: block
            }
            .dropdown-trigger:hover {
              display: block
            }      
            .nav-wrapper form{
              width: 40%;
            }
            
            .brand-logo {
              position: relative!important;
            }

            #bar div.nav-wrapper {
              display: flex;
              flex-direction: row;
              justify-content: space-between
            }

            #bar ul {
              float: none;
            }
            .black {
              color: black!important
            }
            a#close-search {
              position: absolute!important;
              top: 0!important;
              right: 1rem!important;
              color: transparent!important;
              cursor: pointer!important;
              font-size: 2rem!important;
              -webkit-transition: .3s color!important;
              transition: .3s color!important;
            }
            .hidden {
              display: none
            }
          </style>
        {% endblock %}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    </head>
    <body>
        
        {% include "navbar.html.twig" %}
        
       <div style="margin:5%;padding: 0;">
          {% block body %}{% endblock %}
       </div>
        
        {% block javascripts %}
          <script>

          </script>
        {% endblock %}

    </body>
</html>
