<nav>
    <div class="nav-wrapper nav-center" style="width: 98%; margin: auto">
    <a href="/" class="brand-logo"><i class="material-icons">brightness_medium</i>Pict'ur</a>
      <ul class="right">
        
        <li><a href=""><i class="material-icons">search</i></a></li>
        <li><a href=""><i class="material-icons">favorite</i></a></li>
        <li><a href=""><i class="material-icons">view_module</i></a></li>
        {% if app.user %}
        {% else %}
            <li><a href="{{path('app_login')}}"><i class="material-icons">face</i></a></li>
        {% endif %}
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="" data-target="dropdown-set" style="font-weight: bolder; transform: rotate(90deg); display:block"><b>...</b></a></li>

        <!-- Dropdown Structure -->
        <ul id='dropdown-set' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
            

      </ul>
    </div>
  </nav>

  {% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, { coverTrigger: false, hover: true });
    });
    </script>
  {% endblock %}