<nav id='bar'>
    <div class="nav-wrapper nav-center" style="width: 98%; margin: auto">
    <a href="/" class="brand-logo"><i class="material-icons">brightness_medium</i>Pict'ur</a>
    
    <form method="post" id="nav-form">
        
    </form>
    
    <ul>
        
        <li id="nav-search"><a><i class="material-icons">search</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">favorite</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        {% if app.user %}
            <li><a href="mobile.html"><i class="material-icons">face</i></a></li>
        {% else %}
            <li><a href="register"><i class="material-icons">face</i></a></li>
        {% endif %}
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="" data-target="dropdown-set" style="font-weight: bolder; transform: rotate(90deg); outline: none"><b>...</b></a></li>

        <!-- Dropdown Structure -->
        <ul id='dropdown-set' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
            

      </ul>
    </div>
  </nav>

  {% block javascripts %}
    <script>
        // ** INIT DROPDOWN **//
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, { coverTrigger: false, hover: true });
        });

        $('#nav-search').click(function() {
          $('#nav-search').html("")
          $('#nav-form').html("<div class='input-field'><input id='input-search' type='search' name='search'><label class='label-icon' for='search'><i class='material-icons'>search</i></label><a id='close-search'><i class='material-icons'>close</i></a></div>")
          $('input[type=search]').focus(function() {
          $('#close-search .material-icons').addClass('black-text')
          $('#close-search').click(function() {
          $('#nav-search').html("<a><i class='material-icons'>search</i></a>")
          $('#nav-form').html("")
        })
        })

        

        
        })
    </script>
  {% endblock %}