{% include "base.html.twig" %}

{% block body %}
<div class="chips chips-placeholder">
</div>

<button id="btn-chip">chip</button>

{% endblock %}

{% block javascripts %}
    <script>
            document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.chips');
    var instances = M.Chips.init(elems, {placeholder:"enter a tag", secondaryPlaceholder:"+tag"});
  });

            $('#btn-chip').submit(function() {

                console.log(JSON.stringify(M.Chips.getInstance($('.chips')).chipsData));
            });

    </script>
{% endblock %}
