{% extends 'base.html.twig' %}

{% block title %}Home Board{% endblock %}

{% block body %}
{% block stylesheets %}

<style media="screen">

</style>
{% endblock %}
<h1>Ceci est un test</h1>

{% endblock %}
