{% extends 'base.html.twig' %}

{% block title %}Pict'ur{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Welcome {{ app.user.username }}</h1>
        <a class="link" href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <h1>Welcome to you !</h1>
    {% endif %}
    <div id="columns">
        {% for pict in picture %}
            <figure>
                <img src="{{ asset('uploads/images/'~pict.image) }}">
                <figcaption>{{ pict.title }}</figcaption>
            </figure>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>@font-face {
            font-family: 'Calluna';
            src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
        }

        body {
            font-family: Calluna, Arial, sans-serif;
        }

        #columns {
            column-width: 350px;
            column-gap: 15px;
            width: 90%;
            text-align: center;


        }

        div#columns figure {
            background: #fefefe;
            /*border: 2px solid #fcfcfc;*/
            border-radius: 50%;

            margin: 0 3px 13px;
            padding-bottom: 10px;
            transition: opacity .4s ease-in-out;
            -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
            page-break-inside: avoid; /* Firefox */
            break-inside: avoid; /* IE 10+ */
        }

        div#columns figure img {
            width: 100%;
            height: auto;
            border-radius: 50px 50px 0 0;
        }

        div#columns figure figcaption {
            font-size: .9rem;
            color: #444;
            line-height: 1.5;
            margin-top: -7px;
            border: 1px solid lightgrey;
            border-radius: 0 0 50px 50px;
        }
        div#columns small {
            font-size: 1rem;
            float: right;
            text-transform: uppercase;
            color: #aaa;
        }

        div#columns small a {
            color: #666;
            text-decoration: none;
            transition: .4s color;
        }

        div#columns:hover figure:not(:hover) {
            opacity: 0.4;
        }

        @media screen and (max-width: 750px) {
            #columns {
                column-gap: 0px;
            }

            #columns figure {
                width: 100%;
            }
        }</style>
{% endblock %}