main  {
    width: 80%;
    margin: auto
  }
  .dropdown-trigger {
    display: block
  }
  .dropdown-trigger:hover {
    display: block
  }      
  #nav-form{
    width: 40%!important;
    margin: auto!important;
  }


  
  .brand-logo {
    position: relative!important;
  }

  #bar div.nav-wrapper {
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important
  }

  #bar ul {
    float: none;
  }
  .black {
    color: black!important
  }
  a#close-search {
    position: absolute!important;
    top: 0!important;
    right: 1rem!important;
    color: transparent!important;
    cursor: pointer!important;
    font-size: 2rem!important;
    -webkit-transition: .3s color!important;
    transition: .3s color!important;
  }
  .hidden {
    display: none
  }
  .inline {
      display:inline;
      margin-top: 1.5%
  }
  @font-face {
  font-family: 'Calluna';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}

body {
  font-family: Calluna, Arial, sans-serif;
}

#columns {
  column-width: 350px;
  column-gap: 15px;
  width: 90%;
  text-align: center;


}

div#columns figure {

  /*border: 2px solid #fcfcfc;*/
  border-radius: 50%;

  margin: 0 3px 13px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

div#columns figure img {
  width: 100%;
  height: auto;
  border-radius: 50px 50px 0 0;
}

div#columns figure figcaption {
  font-size: .9rem;
  background-color: white;
  color: #444;
  line-height: 1.5;
  margin-top: -7px;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 0 0 50px 50px;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #columns {
      column-gap: 0px;
  }

  #columns figure {
      width: 100%;
  }
}